body {
  background-color: lightgreen; /*sanity check*/
}

img {
  max-width: 200px;
  border-radius: 10px;
  border: 12px solid lemonchiffon;
  float: left;
  margin-right: 25px;
}

h1 {
  font-family: 'Baloo', sans-serif;
  text-shadow: 1px 1px 1px black;
}

p {
  padding: 10px;
  font-family: 'Inconsolata', sans-serif;
  font-size: 1.5em;
}

footer {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  font-family: 'Baloo', sans-serif;
  font-size: 1.5em;
  background: lightblue;
  border-radius: 15px;
}

.book-panel {
  margin: 25px;
}

.jumbotron {
  color: white;
  background-color: green;
  padding-right: 5px;
}

.jumbotron .small {
  font-size: 0.75em;
  color: darkgrey;
  background-color: green;
  padding-right: 5px;
}

.jumbotron .header-star {
  color: lightgreen;
}
