<div class="container" ng-controller="BooksShowController as booksShowCtrl">
  <h2 class='text-center'>{{booksShowCtrl.book.title}}</h2>

  <br>
  <div class="row">
  	<div class="col-xs-4 col-md-offset-4">
  		<img ng-src="{{booksShowCtrl.book.image}}" class="img-responsive">
  	</div>

  	<div class="col-xs-6 col-md-offset-3">
      <p class='text-center'>Author: {{booksShowCtrl.book.author}}</p>
  		<p class='text-center'>Release Date: {{booksShowCtrl.book.releaseDate}}</p>
    </div>

    <div class='row'>
      <button class='btn btn-default' ng-click="editing=!editing">
        <span class='glyphicon glyphicon-pencil' aria-hidden='true'><span>
      </button>

      <div class='row'>
        <button class='btn btn-danger' ng-hide="editing" ng-click="albumsShowCtrl.deleteBook(book)">
          <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
        </button>
      </div>
    </div>

  	<!-- edit form -->
    <div class='row'>
      <div class='col-xs-4 col-md-offset-4'>
    		<div ng-show="editing">
    	    <form ng-show="editing" ng-submit="booksShowCtrl.editBook(booksShowCtrl.book)">
    	      <div class="form-group">
              <input type="text" ng-model="booksShowCtrl.book.title" class="form-control" placeholder="Title">
              <input type="text" ng-model="booksShowCtrl.book.author" class="form-control" placeholder="Author">
    	        <input type="text" ng-model="booksShowCtrl.book.image" class="form-control" placeholder="Image">
    	        <input type="text" ng-model="booksShowCtrl.book.releaseDate" class="form-control" placeholder="Release Date">
    	      </div>

            <div class='row'>
              <div class='col-xs-6 col-md-offset-5'>
	              <input type="submit" value="SAVE" class="btn btn-success">
              </div>
            </div>

    	    </form>
      	</div>
      </div>
    </div>
  </div>
</div>
