<div>BOOKS INDEX FILE HERE!</div>
<p ng-repeat="book in bic.books">
  <span class="title-list">{{ book.title }} </span> by
  <span class="author-list">{{ book.author }}</span>
</p>

<div class="col-md-10 col-md-offset-1">
  <form class="form-horizontal" ng-submit="booksIndexCtrl.createBook()">
    <fieldset>
      <!-- Form Name -->
      <legend>Add New Book</legend>
      <!-- Text input -->
      <div class="form-group">
          <label class="col-md-4 control-label input-md" required="">
          </label>
          <div class="col-md-4">
          </div>

      </div>
    </fieldset>
  </form>

</div>
