<div>
  <div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default">
	  <div class="panel-body">

		<div class='row'>
		  <div class="col-md-3 col-xs-12 thumbnail">
		    <img ng-src="{{bookShowController.book.image}}">
		    <input ng-show="editing" ng-model="bookShowController.book.image" type="text" class="form-control input-md">
		  </div>

			<div class="col-md-9 col-xs-12">
			  <ul class="list-group form-inline">
				<li class="list-group-item">
				  <h4 class='inline-header'>Book Title:</h4>
				  <span ng-hide="editing">{{bookShowController.book.title}}</span>
				  <input ng-show="editing" ng-model="bookShowController.book.title" type="text" class="form-control input-md">
				</li>

				<li class="list-group-item">
				  <h4 class='inline-header'>Author Name:</h4>
				  <span>{{bookShowController.book.author}}</span>
				  <input ng-show="editing" ng-model="bookShowController.book.author" type="text" class="form-control input-md">
				</li>

				<li class="list-group-item">
				  <h4 class='inline-header'>Released date:</h4>
				  <span>{{bookShowController.book.releaseDate}}</span>
				  <input ng-show="editing" ng-model="bookShowController.book.releaseDate" type="text" class="form-control input-md">
				</li>
			  </ul>
			</div>

			<div class='panel-footer'>
				<div class='row'>
					<button class='btn btn-danger' ng-click="bookShowController.deleteBook(bookShowController.book)">delete</button>
					<button class='btn btn-info' ng-hide="editing" ng-click="editing = true">edit</button>
					<button class='btn btn-success' ng-show="editing" ng-click="bookShowController.editBook(bookShowController.book); editing = false">save</button>
					<button class='btn btn-warning' ng-show="editing" ng-click="bookShowController.cancelEdit()">cancel</button>
				</div>
			</div>

		</div>
	  </div>
	</div>
  </div>
</div>